
table{
    width:467px;
    margin: auto;
    .name{
        width:80%;
        margin-left: 20px;
        justify-content: start;
    }
    .naumber{
        width:10%
    }
    .remove{
        width: 10%;
        cursor: pointer;
    }
}
.row{
    display: flex;
    margin-top: 10px;
    
}