.header{
    display: flex;
    flex-direction: column;
    height: 120px;
    background-color: rgb(179, 134, 22);
    width: 500px;
    color: black;
    box-shadow: 5px 5px rgb(78, 71, 71);
    border-radius: 25px 25px 0px 0px;
     text-align: center;
     font-size: x-large;
     font-family: 'Times New Roman', Times, serif;
    // margin-top: 40px;
    h2{
        margin-bottom: 0px;
        margin-top: 10px;
    }
}